<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
</head>

<body>
    <div class="contenido-container">
        <h1>Cuarto Desafio</h1>
    </div>

    <div class="imagenes-container">
        <img src="img/belgica.jpg" width="25%">
        <img src="img/francia.jpg" width="25%">
        <img src="img/portugal.jpg" width="25%">
    </div>
    <script src="index.js"></script>
</body>

</html>