<div class="mx-auto px-4">
    <div class="mx-auto my-2 text-center border-2 text-uppercase">
        <h1>Gestor de productos en tiempo real</h1>
    </div>









    <div>
        <h1 class="text-uppercase">Lista de productos en tiempo real</h1>
    </div>

</div>

<!-- Scripts necesarios -->
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/index.js" ></script>